/* menuburger*/

@media screen and (max-width: 750px) {
  .menuweb {
    flex-direction: column;
  }
  .burger {
    display: block;
    position: sticky;
  }
  nav {
    display: none;
  }
}
.display-block {
  display: block;
}

/* responsive presentation */

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  .contener {
    flex-direction: column;
  }

  .element-1 {
    display: block;
  }

  .contener2 {
    width: 100%;
  }
  .element-2 {
    display: block;
    width: 100%;
  }
  .element-3 {
    display: block;
    width: 100%;
  }
}
