body {
  /*la base de css (apparemment) */
  padding: 0;
  margin: 0;
  background-color: #d2f5e3;
  hyphens: auto;
}

/*header*/
#logo {
  width: 100%;
  height: 60%;
}

h1 {
  width: auto;
  height: 200px;
  text-align: center;
  color: rgb(16, 39, 20);
  font-style: italic;
}

.boximgheader {
  text-align: center;
}

.boximgheader img {
  width: 100%;
  height: 300px;
}

.bienvenue {
  background-color: rgb(205, 248, 196, 0.6);
  opacity: 0.9;
  position: absolute;
  top: 30px;
  left: 30%;
  right: 30%;
}
/*menu web et burger*/
nav {
  background: #d2f5e3;
  display: flex;
}

nav li {
  list-style: none;
  width: 100%;
}

nav li a {
  display: block;
  background: #94b4a4;
  padding: 2em;
  text-align: center;
  box-shadow: 1px 1px 0 #0da;
  color: black;
}

nav li a:hover {
  background: #0da;
}
/*menu burger*/
.burger {
  color: sienna;
  display: none;
  cursor: pointer;
}

/*activities*/
.activities {
  text-align: center;
}

.article {
  padding: 10px 10px;
  top: 0;
  left: 0;
  width: 300px;
  height: auto;
  background-color: #3eb98a;
  border: transparent;
  border-radius: 30px;
  display: none;
}

.openActivities:hover {
  background-color: #0da;
  transform: scale(1.15);
}

.closeActivities {
  padding: 10px 20px;
  background-color: #94b4a4;
  color: #fff;
  border: transparent;
  border-radius: 40px;
  font-size: 1.7rem;
  width: 80px;
  font-size: medium;
  margin: 10px;
}

.openActivities {
  background-color: #94b4a4;
  color: #fff;
  border-width: thin;
  box-shadow: 1px 1px 0 #0da;
  border-radius: 3px;
  font-size: 1.7rem;
  width: 250px;
  height: 50px;
  margin-top: 20px;
}

.cards {
  background-color: #94b4a4;
  color: #fff;
  border: transparent;
  border-radius: 40px;
  box-shadow: 10px 5px 5px rgb(80, 94, 88);
  margin-top: 40px;
  margin-bottom: 40px;
  width: 300px;
  height: 460px;
}

.cards img {
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 40px 40px 0 0;
  height: 350px;
}

#whatToDo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
}

#go-activities {
  margin: 50px 10px 50px 10px;
}

/*activities*/

/* presentation */
#bloc {
  margin: 50px 10px 50px 10px;
}

.contener {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.element-1 {
  width: 30%;
  display: flex;
  justify-content: center;
}

.element-1 img {
  width: 90%;
  height: auto;
}

.element-2 {
  width: 35%;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 2.5rem;
}

.contener2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.element-3 {
  font-size: 2rem;
  font-weight: bolder;
}

.element-4 {
  height: 100%;
}

/* début mise en forme formulaire booking */
.booking,
.form {
  margin: 50px 10px 50px 10px;
}

hr {
  border-color: #d2f5e3;
}

.contact-sentence {
  text-align: center;
  font-style: italic;
  font-size: large;
}

fieldset {
  margin-bottom: 15px;
  padding: 10px;
  width: 40%;
  border-color: #94b4a4;
  margin: 2px;
  border-radius: 10px;
}

.reservation {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.formulaire {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.bouton-booking {
  display: flex;
  justify-content: center;
}

.bouton-form {
  display: flex;
  justify-content: center;
}

legend {
  padding: 0px 3px;
  font-weight: bold;
  font-size: large;
  font-variant: small-caps;
}

label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}

select {
  height: 22px;
  border: thin;
  border-radius: 4px;
}

input:focus {
  background: #eaeaea;
}

input,
textarea {
  width: 249px;
}

input,
textarea {
  width: 249px;
  border-radius: 4px;
  height: 22px;
  border: thin;
}

input,
textarea {
  width: 249px;
}

textarea {
  height: 100px;
}

select {
  width: 254px;
}

input[type="submit"] {
  width: 100px;
  padding: 10px;
  background-color: #94b4a4;
  color: #fff;
  border-width: thin;
  box-shadow: 1px 1px 0 #0da;
  border-radius: 3px;
  height: 40px;
}

input[type="submit"]:hover {
  background: #0da;
}

/* fin mise en forme formulaire & booking */

/* team */

.the-team {
  margin: 50px 10px 50px 10px;
}

.team-content-element {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.team-content-element-item {
  text-align: center;
  margin: 15px;
  background-color: #94b4a4;
  border-radius: 2rem 2rem;
  list-style-type: none;
}

.team-content-element-item img {
  border-radius: 10rem;
  height: 25%;
  margin-top: 2rem;
}

.team-content-element-item-group {
  padding: 1rem;
  width: 20rem;
  margin: auto;
}

audio {
  width: 100%;
}

/*footer*/
.reseaux_sociaux {
  list-style: none;
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 25px;
}

.copyright {
  list-style: none;
  margin-bottom: 40px;
}

/*fin de footer*/

/* fin team */

/*google font*/
body {
  font-family: "Rajdhani", sans-serif;
}

/* menu qui reste au scroll*/
body {
    padding: 5px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .body {
    padding-top: 60px;
  }