* {
  box-sizing: border-box;
}

body { /*la base de css (apparemment) */
  padding: 0;
  margin: 0;
  background-color:#d2f5e3;
}

.bloc{
  display: flex;
}
/*logo et barre navigation web et menu burger*/

#logo{
  position: right;
}

h1{
  width: auto;
  height: auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.856);
}
#menuweb{
  position: fixed;
  z-index: 9999;
  left: -25%;
  top: auto;
  background: #d2f5e3;
  padding: 4em 2em;
  width: 25%;
  min-height: 100%;
  box-shadow: 1px 0 1px #d2f5e3;
}

nav li{
  list-style: none;
  display: inline-block;
}
nav li a {
  display: block;
  background: #94b4a4;
  transition: background .5s;
  padding: 2em;
  text-align: center;
  box-shadow: 1px 1px 0 #0DA;
  color: black;
}

nav li a:hover {
  background: #0DA;
  transition: background .5s;
}

/*activities*/
.activities {
  text-align: center;
}

.article {
  display: flex;
  margin-top: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 215, 114, 0.7);
  display: none;
  border: transparent;
  border-radius: 30px;
  width: 70%;
}

button:hover{
  color:  #5fa884;
  transform: scale(1.5);
}

.closeActivities {
  padding: 10px 20px;
  background:  #94b4a4;
  color: #fff;
  border: transparent;
  border-radius: 40px;
  font-size: 1.7rem;
  width: 120px;
}

.openActivities {
  padding: 10px 20px;
  background:  #94b4a4;
  color: #fff;
  border: transparent;
  border-radius: 40px;
  font-size: 1.7rem;
  width: 200px;
  height: 85px;
}

#whatToDo {
  align-items: baseline;
  display: flex;
  flex-flow: row, wrap;
  justify-content: space-around;
  margin-top: 40px;
}
/*activities*/

/* presentation */
.contener {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d2f5e3;
}

.element-1 {
  width: 40%;
  margin: 10px 0 10px 30px;
} 

.contener2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 30px;
}

.element-2 {
  font-size: 20px;
  text-align: justify;
  }

.element-3 {
  background-color: #0DA; 
  border: 2px solid green;
  font-size: 50px;
  font-style: italic;
  margin: 15px;
  text-align: center;
  box-sizing: content-box;
}

/* responsive presentation */

@media screen and (max-width: 500px) {
  .element-1 {
    display: none;
  }
  .element-2 {
    display: block;
    width: 100%;
  }
  .element-3 {
    display: block;
    width: 100%;
  }
}
/* ------------------------ */


/* footer */

footer {
  display: flex;
  flex-direction: column;
  border-top: 2px solid black;
  
}

.img {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 10px 0;
}

.cls {
  width: 80%;
  text-align: center;
}


